# Created by .ignore support plugin (hsz.mobi)

out/
*.iml
.idea

.cache-main
.cache-tests
.class
bin/

# log
logging.log
log/

# eclipse
.settings/
.project
.classpath

# local
local.sbt
schemas.txt
*.cache-main
*.class
*/bin
*/*/bin
/bin/
checkpoint/

*.DS_Store
